<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Music IQP Dashboard</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span><a href="/pandora_events">Pandora Event Tracking</a></h3>
      <h3><span class="glyphicon glyphicon-info-sign"></span><a href="/users">Participants</a></h3>
      <h3><span class="glyphicon glyphicon-info-sign"></span><a href="https://github.com/musicreciqp/ChromeClient/archive/master.zip">Latest Extension Download</a></h3>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
