<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Participant Info</title>
  <script type="text/javascript">
  window.onload = function() {
    $.get(document.location.href + '/pandora', function(result) {
      $('#pandoraBin')[0].innerHTML = result;
    });
  };
  </script>
  <style>
  .row {
    text-align: center;
  }
  </style>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><%= user.id %>. <%= user.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2>Pandora Events</h2>
    <div id="pandoraBin"></div>
  </div> <!-- row -->
  <div class="row">
    <h2>Tunein Events</h2>
  </div> <!-- row -->
  <div class="row">
    <h2>Tunein Discoveries</h2>
  </div> <!-- row -->
</div>

</body>
</html>
