<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Participant Info</title>
  <script type="text/javascript">
  window.onload = function() {
    var url = document.location.href;
    if (url.charAt(url.length -1) !== '/') url += '/';
    $.get(url + 'pandora', function(result) { $('#pandoraBin')[0].innerHTML = result; });
    $.get(url + 'tunein', function(result) { $('#tuneinEventBin')[0].innerHTML = result; });
    $.get(url + 'tunein/discovery', function(result) { $('#tuneinDiscoverBin')[0].innerHTML = result; });
    $('h2').click(function() { $(this.parentElement.children[1]).toggle(); });
    $('h2').each(function(){$(this).attr("title", "Click To Show/Hide");});
    $('.tablesorter').tablesorter();
  };
  </script>
  <style>
  .row {
    text-align: center;
  }
  .row h2:hover {
    cursor: pointer;  
  }
  thead {
    text-align: center;
  }
  </style>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><%= user.id %>. <%= user.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2>Pandora Events</h2>
    <div id="pandoraBin"></div>
  </div> <!-- row -->
  <div class="row">
    <h2>Tunein Events</h2>
    <div id="tuneinEventBin"></div>
  </div> <!-- row -->
  <div class="row">
    <h2>Tunein Discoveries</h2>
    <div id="tuneinDiscoverBin"></div>
  </div> <!-- row -->
</div>

</body>
</html>
