<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Participant Info</title>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Participant Dashboard</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% users.forEach(function(user) { %> 
        <a href="/users/<%= user.id %>/"><%= user.name %> <em>(<%= user.wpiemail %>)</em></a>
      <% }); %>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
