<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Participant Info</title>
  <script type="text/javascript">
  window.onload = function() {
    $("#scrapeBtn").click(function() {
      
    });
  };
  </script>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><%= user %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button id="scrapeBtn" class="btn btn-default">Scrape</button>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
